<div>
  <p class="label">EventID</p>
  <!-- Text input box with two-way data binding -->
  <input type="text" [(ngModel)]="eventID" placeholder="Enter some text" />

  <p class="label">Date (yyyy-mm-dd)</p>
  <!-- Text input box with two-way data binding -->
  <input type="text" [(ngModel)]="date" placeholder="Enter some text" />
</div>
<div>
  <button (click)="callFunction(eventID, date)" class="button">Import Schedule</button>
</div>

<div class="helper">
  <p>Find an event schedule at: <a href="https://advancedeventsystems.com/">advancedeventsystems.com</a></p>
  <p>Then copy the eventID from the URL</p>
  <img src="https://storage.cloud.google.com/aescourtgrid-assets/eventID-url.png?authuser=3">
</div>
